.tf-input {

    width: 100%;

    padding: 18px 22px;

    border-radius: 18px;

    background: var(--surface);

    border: 1px solid var(--border);

    color: white;

    font-size: 15px;

    outline: none;

    transition: .25s;

}

.tf-input:focus {

    border-color: var(--primary);

    box-shadow: 0 0 0 4px rgba(255, 255, 255, .12);

}